<hr>
<div text-centered>
<button type="button" class="btn btn-link"><a href='/site/about'>About AMDB</a></button>
<button type="button" class="btn btn-link"><a href='/movies/watchlist'>My Watchlist</a></button>
</div>
</div>
</body>
</html>