body {
	background-color: #ecf0f1;
	border-style: 2px solid black;
}

.page-header {
	background-color: #bdc3c7;
}

h1 {
	color: #e74c3c;
	font-family: 'Playfair Display', serif;
	font-size: 100px;
	font-weight: bold;
}

h2 {
	color: #16a085;
	font-family: 'Playfair Display', serif;
	font-size: 50px;
}

h3 {
	color: #7f8c8d;
	font-family: 'Open Sans Condensed', sans-serif;
}
h4 {
	color: #7f8c8d;
	font-family: 'Open Sans Condensed', sans-serif;
}

a {
	color: #e74c3c;
	font-family: 'Open Sans Condensed', sans-serif;
	font-style: none;
	font-size: 20px;
	text-decoration: none;
}

ul {
	list-style-type: none;
}

a:hover {
	color: #16a085;
	text-decoration: none;

}

p {
    text-align: center;
    display: block;
}

.btn-link:hover {
	color: #16a085;
	text-decoration: none;
}

.container {
	text-align: center;
}

.search {
	font-size: 15px;
}

.glyphicon-star {
	font-size: 30px;

}

.glyphicon-film {
	font-size: 250px;
}