<% include ../header %>

<p><h2>Annie McGhee</h2></p>

<p><h4>1986 | Dramedy | Starring herself</h4></p>


<br>
<div class="row">
  <div class="col-md-4 col-md-offset-2"><h3>Annie makes her first web app. Laugh along as she encounters some interesting characters, cry along as she loops through her array. Or is it an object? What's a parameter? You'll find out! Or will you?</h3><h4><em> (Rotten Tomatoes didn't even bother.)</em></h4></div>
  <div class="col-md-4"><img src="http://i.imgur.com/YIolDH1.jpg" title="source: imgur.com" height:'250'width:'200' /></div>
</div>

<br>


<br>

<% include ../footer %>