<% include ../header %>

<h2>Search for any movie or keyword</h2>

<form action='/movies/search' method='get'>
<input type="text" name="movies" placeholder="Search Movies" class="search">
<input type="submit" value="Go!" class='btn btn-default'>

<% include ../footer %>