<% include ../header %>

<p>
<h2>Your Watchlist:</h2>
</p>

	<% for (var i = 0; i < data2.length; i++) { %>
		<div class='row text-center'>
				<a href='/movies/<%= data2[i].imdb_code %>'><%= data2[i].title %></a> | <%= data2[i].year %>
				<br>
				<form action="/movies/watchlist" method="post">
				<input type="hidden" name="imdb_code" value="<%= data2[i].imdb_code %>">
				<input type="submit" value="X" class="btn btn-default btn-sm">
		</div>
		<hr>
	<% } %>

<% include ../footer %>
